{
  "extends": ["eslint:recommended", "prettier"], // Базовый конфиг со всеми реккомендуемыми правилами
  "root": true, // Можно делать иерархию конфигов. Если в src/ есть конфиг, то он смержится с этим. Директива root говорит что это самый верхеуровневый конфиг. Верхний мержится с нижним {...top, ...bottom}
  "parserOptions": {
    "ecmaVersion": 2021, // С какой версией JS работаем
    "sourceType": "module" // Разрешаем директивы import
  },
  "env": {
    "node": true // eslint ничего не знает про окружение, где работает, поэтому может ругаться на document, на requare и т.д. Поэтому ему явно надо сказать, в каком окружении он работает (браузер, нода.) P.s. в src/ указывается другое окружение
  },
  "rules": {
    "no-console": "warn"
  }
}
